* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    
}
*::selection{
    background-color: #fff;
    color: #ACE022;
}

body::-webkit-scrollbar{
    display: block;
    width: 5px;
    background-color: #A2D521;
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
border-radius: 50%;
}

html,body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 250px;
    width: 250px;
    background-color: #96cb066a;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

/* /navigation */
#nav {
    z-index: 99;
    height: 130px;
    width: 100%;
    padding: 0 120px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#nav img {
    height: 80px;
}

#nav h4 {
    font-weight: 600;
    font-size: 16px;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -3;
}

/* main */

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.50);

}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}
#page1 #arrow{
     height: 150px;
     width: 150px;
     background-color: transparent;
     position: absolute;
     display: flex;
     border: 1px solid greenyellow;
     left: -1%;
     bottom: 2%;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     transition: all ease 0.5s;
}
#page1 #arrow i{
    font-size: 50px ;
    font-weight: 100;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: greenyellow;
}
#page1 h1 {
    font-size: 115px;
    font-weight: 900;
    position: relative;

}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    left: -4px;
    top: -4px;
    color: black;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;

}

#page1 h2 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 18px;
    font-weight: 500;
    width: 40%;
}

/* page2 */
#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    position: relative;
    z-index: 10;


}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in-1 {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
}

#scroller h4:hover {
    color: greenyellow;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* about us */
#aboutus {
    height: 55vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
}

#aboutus img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

#aboutus-in {
    width: 40%;
    text-align: center;
}

#aboutus-in h3 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}

#aboutus-in p {
    font-size: 18px;
    line-height: 25px;
}

/* card-container */
#card-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card {
    height: 80%;
    width: 22%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card1 {
    background-image: url(/images/home-toptracer-1024x682.avif);
}

#card2 {
    background-image: url(/images/card2.webp);
}

#card3 {
    background-image: url(/images/home-lessons-1024x682.avif);
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    padding: 25px;
    padding-top: 110px;
    opacity: 0;
    transition: all ease 0.6s;
}

#overlay h4 {
    color: #000;
    font-size: 29px;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 20px;
}

#overlay p {
    color: #000;
    font-size: 15px;
}

.card:hover #overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}

#green {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #3AAA31, #A2D521);
}

#green h4 {
    width: 45%;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-weight: 800;
    font-size: 22px;

}

#green img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

/* page3 */
#page3 {
    height: 100vh;
    widows: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3 > p {
    font-size: 30px;
    width: 60%;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
}

#page3 img {
    position: absolute;
    height: 55px;
}

#page3 #cql {
    left: 15%;
    top: 35%;
}

#page3 #cqr {
    right: 15%;
    bottom: 35%;
}

/* page04 */
#page4 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.elem {
    height: 40%;
    width: 24%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    font-weight: 800;
    color: #000;
    align-items: center;
    justify-content: center;
    transition: all ease 0.9s ;
    font-size: 25px;
    position: absolute;
    z-index: 10;
    
}
.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.9s ;
    scale: 1.1;
}
.elem:hover img{
    scale: 1;
} 
.elem:hover h2{
    color: white;
    background-color: transparent;
}
#page4 h1{
    font-size: 80px;
    position: absolute;
    top: 35px;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 1px #fff;
    
}

/* page5 */
#page5{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#119F3A,#ACE022);
    overflow: hidden;
    position: relative;
    z-index: 10;

}
#p5d{
    height: 40vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#page5 #fimgs img{
    width: 18%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}
#page5 img{
    height: 100px;
    z-index: 2;

}
#page5 .footer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
#page5 .footer h2{
    color: #000;
}
#f4{
    width: 100px;
    font-size: 10px;
    line-height: 20px;
}
